---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <section class="page-content page-content--centered">
        <h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>
        <p class="u-textAlignCenter">
            {{lang 'forbidden.if_you_were_signed_in'}}
            <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a>
            {{lang 'forbidden.to_continue'}}
        </p>
        {{> components/common/search-box}}
    </section>
</main>

{{/partial}}
{{> layout/base}}
