<article class="post-preview">

    <div class="post-header">
        <div class="post-date"><div class="original-post-date">{{post.date_published}}</div></div>
        {{#if post.thumbnail}}
            <a href="{{post.url}}">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage post.thumbnail 'blog_size'}}" alt="post-image">
            </a>
        {{/if}}
    </div>

    <div class="post-body">

        <div class="post-meta">
            <h2 class="title"><a href="{{post.url}}">{{{post.title}}}</a></h2>
            {{#if post.author}}<p class="blog-author">{{lang 'blog.posted_by' name=post.author}}</p>{{/if}}
        </div>

        <div class="post-content">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{{post.summary}}}{{#if post.show_read_more}}&hellip; <a href="{{url}}">{{lang 'common.readmore'}}</a>{{/if}}
            {{/if}}
        </div>

        {{>components/common/share}}

    </div>
</article>
