<article class="single-post">

    <div class="post-header">
        <div class="post-date"><div class="original-post-date">{{post.date_published}}</div></div>
        {{#if post.thumbnail}}
            <a href="{{post.url}}">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage post.thumbnail 'single_post'}}" alt="post-image">
            </a>
        {{/if}}
    </div>

    <div class="post-body">

        <div class="post-meta">
            <h2 class="title">{{{post.title}}}</h2>
            {{#if post.author}}<p class="blog-author">{{lang 'blog.posted_by' name=post.author}}</p>{{/if}}
        </div>

        <div class="post-content">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{{post.summary}}}{{#if post.show_read_more}}&hellip; <a href="{{url}}">{{lang 'common.readmore'}}</a>{{/if}}
            {{/if}}
        </div>

        {{>components/common/share}}

    </div>
</article>

<div class="new-articles-section" data-tag="{{theme_settings.blog_tag_related_articles}}" data-limit="{{theme_settings.blog_limit_related_articles}}">
    <h3>{{lang 'blog.new_title'}}</h3>
    <div id="new-articles"></div>
</div>