{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}

<footer class="footer" role="contentinfo">
    <div class="footer-top">
        <div class="container">
            <div class="footer-row">
                <div class="col">
                    {{#if page_type '===' 'default'}}
                        <div class="footer-logo footer-logo--{{theme_settings.logo-position}}">
                            {{> components/common/store-logo}}
                        </div>
                    {{else}}
                        <div class="footer-logo footer-logo--{{theme_settings.logo-position}}">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}

                    {{#or theme_settings.phone theme_settings.email}}
                        <ul class="footer-contacts">
                            {{#if theme_settings.phone}}<li><a href="tel:{{#replace '-' theme_settings.phone}}{{/replace}}"><span class="icon-phone"></span>{{theme_settings.phone}}</a></li>{{/if}}
                            {{#if theme_settings.email}}<li><a href="mailto:{{theme_settings.email}}"><span class="icon-mail"></span>{{theme_settings.email}}</a></li>{{/if}}
                        </ul>
                    {{/or}}

                </div>
                <div class="col">
                    {{> components/common/footer-menu}}
                </div>
            </div>
            <div class="footer-row">
                <div class="col">

                    {{#if theme_settings.menu_col_categories}}
                        <nav class="footer-col-menu categories-menu">
                            <h5 class="footer-info-heading">{{../theme_settings.menu_col_categories}}</h5>
                            <ul class="footer-nav">
                                {{#each categories}}
                                    {{#if children}}
                                        <li><a class="{{#if is_active}}active{{/if}}" href="{{url}}">{{name}}</a></li>
                                        {{#each children}}
                                            <li><a class="{{#if is_active}}active{{/if}}" href="{{url}}">{{name}}</a></li>
                                        {{/each}}
                                    {{else}}
                                        <li><a class="{{#if is_active}}active{{/if}}" href="{{url}}">{{name}}</a></li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </nav>
                    {{/if}}

                    {{#each pages as |parentpage|}}
                        {{#if parentpage.name '==' ../theme_settings.menu_col_quick_links}}
                            {{#if parentpage.children}}
                                <nav class="footer-col-menu quick-links-menu">
                                    <h5 class="footer-info-heading">{{../../../theme_settings.menu_col_quick_links}}</h5>
                                    <ul class="footer-nav"> 
                                        {{#each parentpage.children as |child|}}
                                            <li><a href="{{child.url}}" class="{{#if child.name '==' ../../../../page.title}}active{{/if}}">{{child.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </nav>
                            {{/if}}
                        {{/if}}
                    {{/each}}

                </div>
                <div class="col">
                    
                    {{#if theme_settings.homepage_blog_posts_count}}
                    <div class="recent-posts">
                        <div class="blog-sidebar">
                            <h4>{{lang 'footer.latest_posts'}}</h4>
                            {{#if blog.posts}}
                                {{#each blog.posts}}
                                    {{#if @index '<' ../theme_settings.homepage_blog_posts_count}}
                                        <div class="post-item">
                                            <div class="post-date"><div class="original-post-date">{{date_published}}</div></div>
                                            <div class="post-preview">
                                                <h5><a href="{{url}}">{{{title}}}</a></h5>
                                                <p>{{ellipsis summary 50}}</p>
                                                <a href="{{url}}" class="post-readmore">{{lang 'common.readmore'}}</a>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            {{else}}
                                {{#each blog.recent_posts}}
                                    <div class="post-item">
                                        <div class="post-date"><div class="original-post-date">{{date_published}}</div></div>
                                        <div class="post-preview">
                                            <h5><a href="{{url}}">{{{title}}}</a></h5>
                                            <p>{{ellipsis summary 50}}</p>
                                            <a href="{{url}}" class="post-readmore">{{lang 'common.readmore'}}</a>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                         </div>
                    </div>
                    {{/if}}

                    {{#each pages as |parentpage|}}
                        {{#if parentpage.name '==' ../theme_settings.menu_col_shop}}
                            {{#if parentpage.children}}
                                <nav class="footer-col-menu quick-links-menu">
                                    <h5 class="footer-info-heading">{{../../../theme_settings.menu_col_shop}}</h5>
                                    <ul class="footer-nav">
                                        {{#each parentpage.children as |child|}}
                                            <li><a href="{{child.url}}" class="{{#if child.name '==' ../../../../page.title}}active{{/if}}">{{child.name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </nav>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="footer-row">

                {{#if theme_settings.social_icon_placement_top}}
                    <div class="col">
                        <article class="footer-info-col footer-info-col--social" data-section-type="footer-webPages">
                            <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                            {{> components/common/social-links}}
                        </article>
                    </div>           
                {{/if}}

                {{#if settings.show_newsletter_box}}
                    <div class="col">
                        {{> components/common/subscription-form}}
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            {{#or theme_settings.footer_copyright settings.address theme_settings.footer_additional_links}}
                <ul class="footer-copyright">
                    {{#if settings.show_newsletter_box}}<li>{{theme_settings.footer_copyright}}</li>{{/if}}
                    {{#if settings.address}}<li>{{settings.address}}</li>{{/if}}
                    {{#if theme_settings.footer_first_additional_link}}<li>{{{theme_settings.footer_first_additional_link}}}</li>{{/if}}
                    {{#if theme_settings.footer_second_additional_link}}<li>{{{theme_settings.footer_second_additional_link}}}</li>{{/if}}
                </ul>
            {{/or}}
        </div>
    </div>

</footer>