<nav class="navUser">

    {{> components/common/currency-selector}}

    <ul class="navUser-section navUser-section--alt">

        <li class="navUser-item">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                <span class="icon-search"></span>
                <span class="text">
                    <span class="navUser-item-prefix">{{lang 'common.search_prefix'}}</span>
                    {{lang 'common.search'}}
                </span>
            </a>
        </li>
        
        {{#if theme_settings.wholesale_link}}
            <li class="navUser-item navUser-item--wholesale">
                <a class="navUser-action navUser-action--wholesale" href="{{theme_settings.wholesale_link}}">
                    <span class="icon-box"></span>
                    <span class="text">
                        <span class="navUser-item-prefix">{{lang 'common.wholesale_prefix'}}</span>
                        {{lang 'common.login'}}
                    </span>
                </a>
            </li>
        {{/if}}
        
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="icon-bag"></span>
                <span class="text">
                    <span class="navUser-item-prefix">{{lang 'common.cart_prefix'}}</span>
                    <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                    <span class="countPill cart-quantity"></span>
                </span>
            </a>
            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>

        <li class="navUser-item navUser-item--account">
            <a class="navUser-action" href="{{urls.account.index}}"> 
                <span class="icon-user"></span>
                <span class="text">
                    <span class="navUser-item-prefix">{{lang 'common.cart_prefix'}}</span>
                    {{lang 'common.account'}}
                </span>
            </a>
        </li>

        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>

        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
                <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}

        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}

    </ul>

    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
        {{> components/common/quick-search}}
    </div>
    
</nav>