{{#if social_media}}
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item">
                {{#if display_name '===' 'google+'}}
                    <a class="icon icon--google" href="{{url}}" target="_blank">
                        <span class="icon-google"></span>
                    </a>
                {{else}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <span class="icon-{{display_name}}"></span>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}
