<h5 class="footer-info-heading">{{lang 'newsletter.subscribe'}}</h5>
<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="nl_email" name="nl_email" type="email" value="" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <button class="button button--primary form-prefixPostfix-button--postfix" type="submit">{{lang 'newsletter.subscribe_submit'}} <span class="icon-plane"></span></button>
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
