---
blog:
    posts:
        limit: {{theme_settings.blog_posts_per_page}}
        pages: 3
        summary: 300
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    
    <div class="filter-area">
        <div class="subtitle">{{lang 'blog.filters'}}</div>
        <div class="selects-area">
            <select class="filter-select">
                <option value="">{{lang 'blog.by_author'}}</option>
                <option value="/blog/tag/Gordon+Ramsy" {{#if blog.tag '==' 'Gordon Ramsy' }}selected="selected"{{/if}}>Gordon Ramsy</option>
                <option value="/blog/tag/Ariana+Grande" {{#if blog.tag '==' 'Ariana Grande' }}selected="selected"{{/if}}>Ariana Grande</option>
            </select>
            <select class="filter-select">
                <option value="">{{lang 'blog.by_tag'}}</option>
                <option value="/blog/tag/Dog" {{#if blog.tag '==' 'Dog' }}selected="selected"{{/if}}>Dog</option>
                <option value="/blog/tag/Bird" {{#if blog.tag '==' 'Bird' }}selected="selected"{{/if}}>Bird</option>
            </select>
            <form class="form filter-search-form" action="{{urls.search}}">
                <fieldset class="form-fieldset">
                    <div class="form-field">
                        <div class="form-prefixPostfix wrap">
                            <input class="form-input" name="search_query_adv" placeholder="{{lang 'blog.search_keyword'}}" value="{{forms.search.query}}">
                            <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'search.results.form_button_text'}}">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="blog-posts-area">
        <div class="blog-posts">
            {{#each blog.posts}}
                {{> components/blog/post-preview post=this show_tags=true}}
            {{/each}}
        </div>
        {{> components/common/paginator pagination.blog}}
    </div>

</main>

{{/partial}}
{{> layout/base}}
