---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
{{/unless}}
{{{category.description}}}
{{{snippet 'categories'}}}
<div class="page">

    {{#if theme_settings.show_cat_sidebar}}
        {{#if category.faceted_search_enabled}}
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{else if category.subcategories}}
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{else if category.shop_by_price}}
            {{#if theme_settings.shop_by_price_visibility}}
                 <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
            {{/if}}
        {{/if}}
    {{/if}}

    <main class="page-content" id="product-listing-container">

        <div class="filter-area">
            <div class="selects-area">
                <form class="form filter-search-form" action="{{urls.search}}">
                    <fieldset class="form-fieldset">
                        <div class="form-field">
                            <div class="form-prefixPostfix wrap">
                                <input class="form-input" name="search_query_adv" placeholder="{{lang 'categories.search_keyword'}}" value="{{forms.search.query}}">
                                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'search.results.form_button_text'}}">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
