---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{#partial "head"}}
    
    {{ getFontsCollection }}

    {{> components/custom/custom-fonts }}
    {{{ checkout.checkout_head }}}
    {{{stylesheet '/assets/css/theme.css'}}}

    {{{head.scripts}}}

    {{{ stylesheet '/assets/css/optimized-checkout.css' }}}

    <script type="text/javascript">
        window.language = {{{langJson 'optimized_checkout'}}};
    </script>

    {{> components/common/header }}

{{/partial}}

{{#partial "page"}}
<div class="checkout-wrapper">
{{{ checkout.order_confirmation_content }}}
</div>
{{> components/common/footer }}
{{> components/custom/checkout-post-date-parsing }}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
