---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">

        {{> components/custom/back-toproducts}}

        {{> components/products/product-view schema=true}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        <div class="product-additional-shogun-section hidden">{{{product.description}}}</div>

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

    </div>

    {{#if product.related_products}}
    <div class="related-products" style="background: url({{cdn '/img/bg-3.png'}})">
        <h2>{{lang 'products.related_products'}}</h2>
        <div class="related-products-holder">
            {{#if settings.data_tag_enabled}}
                {{> components/products/carousel products=product.related_products columns=6 list="Related Products"}}
            {{else}}
                {{> components/products/carousel products=product.related_products columns=6}}
            {{/if}}
        </div>
    </div>
    {{/if}}

{{/partial}}
{{> layout/base}}
