---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
        <h1 class="page-heading">
            {{#if subscription.error}}
                {{lang 'newsletter.subscribed_heading_error'}}
            {{else}}
                {{lang 'newsletter.subscribed_heading'}}
            {{/if}}
        </h1>

        {{#if subscription.error}}
            {{> components/common/alert-error subscription.error}}
        {{else}}
            {{> components/common/alert-success (lang 'newsletter.subscribed_message')}}
        {{/if}}

    </div>
</section>

{{/partial}}
{{> layout/base}}
