---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "amp-style"}}
    {{> components/amp/products/styles }}
{{/partial}}
{{#partial "amp-scripts"}}
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    {{#if settings.add_this.buttons}}
        <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    {{/if}}
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    {{#if product.videos}}
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    {{/if}}
{{/partial}}
{{#partial "page"}}
    {{> components/amp/common/header }}
    <div itemscope itemtype="http://schema.org/Product">
        {{> components/amp/products/product-view schema=true}}
    </div>
    {{#if settings.amp_analytics_id}}
        <amp-analytics type="googleanalytics">
            <script type="application/json">
            {
                "vars": {
                    "account": "{{settings.amp_analytics_id}}"
                },
                "extraUrlParams": {
                    "cd1": "{{page_type}}",
                    "cd2": "{{product.id}}",
                    "cd3": "{{product.url}}",
                    "cd4": "{{product.title}}",
                    "cd5": "{{product.sku}}"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview"
                    },
                    "trackClickOnAddToCart" : {
                        "on": "click",
                        "selector": ".productView-action a, .card-title a",
                        "request": "event",
                        "vars": {
                            "eventCategory": "Product",
                            "eventAction": "Add to Cart"
                        }
                    },
                    "trackClickOnSocialLink" : {
                        "on": "click",
                        "selector": ".amp-social-share",
                        "request": "social",
                        "vars": {
                            "socialNetwork": "${socialType}",
                            "socialAction": "Share",
                            "socialTarget": "${productLink}"
                        }
                    }
                }
            }
            </script>
        </amp-analytics>
    {{/if}}
    {{> components/amp/common/footer}}
{{/partial}}
{{> layout/amp }}
