<script type="text/javascript">
    var postDates = document.querySelectorAll('.original-post-date');
    postDates.forEach(function(element){
        const parsedDate = element.innerHTML.split(' ');
        element.innerHTML = '<span class="post-date-month">' + parsedDate[0] + '</span><span class="post-date-day">' + parsedDate[1].replace(/\D+/g, '') + '</span>';
        element.classList.remove("original-post-date");
    });
</script>