{{#or (if page_type '==' 'checkout') (if page_type '==' 'orderconfirmation') (if page_type '==' 'orderconfirmation') (if page_type '==' 'cart') (if page_type '==' 'product')}}
<div class="header-img-section" style="background: url({{cdn '/img/header-bg-1.png'}})">
    <div class="header-img-holder">
        <h2 class="page-heading">
            {{#if page_type '==' 'cart'}}
                {{lang 'cart.label'}}
            {{else if page_type '==' 'checkout'}}
                {{lang 'checkout.title'}}
            {{else if page_type '==' 'product'}}
                {{lang 'products.header_img_title'}}
            {{/if}}
        </h2>
    </div>
</div>
{{/or}}

{{#or (if page_type '==' 'blog') (if page_type '==' 'blog_post')}}
    {{#unless theme_settings.hide_blog_page_heading }}
        <div class="header-img-section" style="background: url({{cdn '/img/header-bg-2.png'}})">
            <div class="header-img-holder">
                <h2 class="page-heading">{{ blog.name }}</h2>
            </div>
        </div>
    {{/unless}}
{{/or}}