---
customer:
orders:
limit: 3
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
<div class="account">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="account-heading title">{{lang 'account.orders.heading' }}</h2>
    {{> components/account/navigation account_page='orders'}}
    <div class="account-row orders-row">
        <section class="orders">
            {{> components/account/orders-list orders=customer.orders}}
            {{> components/common/small-paginator pagination.orders}}
        </section>
    </div>
</div>
{{/partial}}
{{> layout/base}}
