---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.payment_methods.heading' }}</h2>
    {{> components/account/navigation account_page='payment_methods'}}

    <div class="account account--fixedLarge">
        <div class="account-body">
            {{> components/account/payment-methods-list }}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
