<div class="cart-form coupon-code cart-uder-total">
    <div class="total-heading">{{lang 'cart.coupons.title'}}</div>
    <div class="total-content">
        <form class="form form--hiddenLabels coupon-form" method="post" action="{{urls.cart}}">
            <label class="form-label" for="couponcode">{{lang 'cart.coupons.coupon_code'}}</label>
            <input class="form-input" data-error="{{lang 'cart.coupons.empty_error'}}"  id="couponcode" type="text" name="couponcode" value="">
            <input class="button button--primary button--small" type="submit" value="{{lang 'cart.coupons.button'}}">
            <input type="hidden" name="action" value="applycoupon">
        </form>
    </div>
</div>
