<div class="shipping-estimator cart-uder-total">
    <div class="total-heading">{{lang 'cart.shipping_estimator.title'}}</div>
    <div class="total-content">
        <form class="form estimator-form" data-shipping-estimator>
            <div class="total-sub-heading">
                <h3>{{lang 'cart.shipping_estimator.subtitle'}}</h3>
                <h4>{{lang 'cart.shipping_estimator.subsubtitle'}}</h4>
            </div>
            <dl>
                <dt class="estimator-form-label">
                    <label class="form-label" for="shipping-country">{{lang 'cart.shipping_estimator.select_a_country'}}<span>*</span></label>
                </dt>
                <dd class="estimator-form-input">
                    <select class="form-select" id="shipping-country" name="shipping-country" data-field-type="Country">
                        <option>{{lang 'cart.shipping_estimator.select_a_country'}}</option>
                        {{#each countries}}
                            <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                </dd>

                <dt class="estimator-form-label">
                    <label class="form-label" for="shipping-state">{{lang 'cart.shipping_estimator.select_a_state'}}</label>
                </dt>

                <dd class="estimator-form-input">
                    {{#if states.length}}
                        <select class="form-select" id="shipping-state" name="shipping-state" data-field-type="State">
                            <option>{{lang 'cart.shipping_estimator.select_a_state'}}</option>
                            {{#each states}}
                                <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                                    {{name}}
                                </option>
                            {{/each}}
                        </select>
                    {{else}}
                        <input class="form-input" type="text" id="shipping-state" name="shipping-state" data-field-type="State" placeholder="{{lang 'cart.shipping_estimator.select_a_state'}}">
                    {{/if}}
                </dd>

                <dt class="estimator-form-label">
                    <label class="form-label" for="shipping-city">{{lang 'cart.shipping_estimator.suburb_city'}}</label>
                </dt>
                <dd class="estimator-form-input">
                    <input class="form-input" type="text" id="shipping-city" name="shipping-city" value="{{selected_city}}" placeholder="{{lang 'cart.shipping_estimator.suburb_city'}}">
                </dd>

                <dt class="estimator-form-label">
                    <label class="form-label" for="shipping-zip">{{lang 'cart.shipping_estimator.zip_postal_code'}}</label>
                </dt>
                <dd class="estimator-form-input">
                    <input class="form-input" type="text" id="shipping-zip" name="shipping-zip" value="{{selected_zip}}" placeholder="{{lang 'cart.shipping_estimator.zip_postal_code'}}">
                </dd>
                <button class="button button--primary button--small shipping-estimate-submit">{{lang 'cart.shipping_estimator.estimate_shipping'}}</button>
            </dl>
        </form>
        <div class="shipping-quotes"></div>
    </div>
</div>