---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    <div class="account account--fixedSmall">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <h2 class="page-heading">{{lang 'reset_password.heading' }}</h2>
        <p>{{lang 'reset_password.intro' }}</p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <label class="form-label" for="email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" name="email" id="email" type="email" formnovalidate>
                <input type="submit" class="button button--primary form-prefixPostfix-button--postfix" value="{{lang 'reset_password.heading' }}">
            </div>
        </form>
    </div>
{{/partial}}
{{> layout/base}}
