---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="account account--fixedSmall">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'forms.new_password.heading' }}</h2>
    <p>{{forms.new_password.requirements}}</p>
    {{#if forms.new_password.error}}
        {{> components/common/alert-error forms.new_password.error}}
    {{/if}}
    <form action="{{forms.new_password.submit_url}}" class="form new-password-form" method="post">
        <div class="form-row">
            <div class="form-field">
                <label class="form-label" for="password">
                    {{lang 'forms.new_password.password' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="password" class="form-input" name="password" id="password" autocomplete="off">
            </div>
            <div class="form-field">
                <label class="form-label" for="password_confirm">
                    {{lang 'forms.new_password.password2' }}
                    <small>{{lang 'common.required' }}</small>
                </label>
                <input type="password" class="form-input" name="password_confirm" id="password_confirm" autocomplete="off">
            </div>
        </div>
        <div class="form-actions">
            <input
                class="button button--primary"
                type="submit"
                value="{{lang 'forms.new_password.submit_value' }}">
        </div>
    </form>
</div>
{{/partial}}
{{> layout/base}}
