.product-options-holder .set-rectangle .form-label,
.hidden{
    display: none;
}

/* Slick slider styles */

.slick-slider-frame {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider-frame .slick-track,
.slick-slider-frame .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}


[class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
.icon-bag:before {
        content: "\e900";
}
.icon-box:before {
        content: "\e901";
}
.icon-bubble:before {
        content: "\e902";
}
.icon-close:before {
        content: "\e903";
}
.icon-double-arrow-next:before {
        content: "\e904";
}
.icon-facebook:before {
        content: "\e905";
}
.icon-instagram:before {
        content: "\e906";
}
.icon-like:before {
        content: "\e907";
}
.icon-mail:before {
        content: "\e908";
}
.icon-phone:before {
        content: "\e909";
}
.icon-plane:before {
        content: "\e90a";
}
.icon-search:before {
        content: "\e90b";
}
.icon-twitter:before {
        content: "\e90c";
}
.icon-user:before {
        content: "\e90d";
}
.icon-youtube:before {
        content: "\e90e";
}

#maintenance-notice {
    display: none;
}

.body {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

html {
    overflow-x: auto;
}

body {
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
}

.container {

    max-width: 1200px;

    @media (min-width: $screen-large) {
        padding: 0;
    }
}

// header
header.header {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 0 1px #fff;

    .navUser-action {
        padding: 0;
        font-size: 24px;
        line-height: 20px;
        font-weight: 400;
        color: #232323;

        @media (min-width: 801px) {
            font-size: 18px;
            line-height: 16px;
        }

        @media (min-width: 1024px) {
            font-size: 18px;
            line-height: 16px;
        }

        @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 18px;
        }

        @media (min-width: 1600px) {
            font-size: 24px;
            line-height: 20px;
        }

        .navUser-item-prefix {
            display: block;
            font-size: 14px;
            line-height: 1;
            color: #7b7878;

            @media (min-width: 801px) {
                font-size: 10px;
            }

            @media (min-width: 1024px) {
                font-size: 10px;
            }

            @media (min-width: 1200px) {
                font-size: 12px;
            }

            @media (min-width: 1600px) {
                font-size: 14px;
            }
        }
    }

    .header-logo {
        margin: 0;
        padding: 15px 0 15px 20px;
        width: 172px;

        @media (min-width: 1200px) {
            width: 220px;
        }

        @media (min-width: 1600px) {
            width: 390px;
            padding: 26px 0 25px 43px;
        }

        @media (min-width: 1800px) {
            padding: 26px 0 25px 67px;
            width: 470px;
            min-width: 470px;
        }

        > a {
            display: block;

            @media (max-width: 800px) {
                width: 100%;
                padding: 0;
            }
        }
    }

    .header-logo-image-container {
        &:after {
            display: none !important;
        }

        .header-logo-image {
            position: static;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .navPages-container {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 800px) {
            height: auto;
            width: 100%;
            display: block;
            top: 100%;
            bottom: auto;
            padding: 0 !important;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            transition: all 0.3s;
        }

        @media (min-width: 1200px) {
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        @media (max-width: 1199px) {
            padding: 0 5px;
        }

        &.is-open {
            opacity: 1;
            visibility: visible;
        }

        .navPages-item {
            padding: 0 15px;

            @media (min-width: 1600px) {
                padding: 0 27px;
            }   
        }

        .navPages-action {
            padding: 0;
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

            @media (min-width: 1200px) {
                font-size: 22px;
                line-height: 26px;
            }

            @media (min-width: 1600px) {
                font-size: 26px;
                line-height: 30px;
            }
        }
    }

    .navPages {
        margin: 0;
        width: auto;

        @media (min-width: 1200px) {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            padding: 5px 15px 0;
        }
    }

    .navUser {
        padding-left: 0;
        margin-bottom: 15px;

        @media (min-width: 1200px) {
            width: auto;
        }

        @media (max-width: 800px) {
            display: none;
        }

        &:before {
            display: none;
        }

        > ul {
            display: flex;
            flex-wrap: wrap;

            &:before,
            &:after {
            display: none;
            }

            > li {
                > a {
                    &:before {
                        color: #828282;
                        content: '|';
                        margin: 0 10px;
                        font-size: 22px;
                    }
                }

                &:first-child {
                    > a {
                        &:before {
                            display: none;
                        }
                    } 
                }
            }
        }

        [class*="icon-"] {
            font-size: 29px;
            margin-right: 12px;
            margin: -10px 12px -10px 0;
            color: #828282;

            @media (min-width: 801px) {
                font-size: 16px;
            }

            @media (min-width: 1024px) {
                font-size: 20px;
                margin-right: 5px;
            }

            @media (min-width: 1200px) {
                font-size: 24px;
                margin-right: 8px;
            }

            @media (min-width: 1600px) {
                font-size: 29px;
                margin-right: 12px;
            }    
        }

        .icon-bag {
            font-size: 32px;

            @media (min-width: 801px) {
                font-size: 19px;
            }

            @media (min-width: 1024px) {
                font-size: 23px;
            }

            @media (min-width: 1200px) {
                font-size: 27px;
            }

            @media (min-width: 1600px) {
                font-size: 32px;
            }
        }

        .icon-box {
            font-size: 36px;

            @media (min-width: 801px) {
                font-size: 23px;
            }

            @media (min-width: 1024px) {
                font-size: 27px;
            }

            @media (min-width: 1200px) {
                font-size: 31px;
            }

            @media (min-width: 1600px) {
                font-size: 36px;
            }
        }

        .icon-search {
            font-size: 40px;

            @media (min-width: 801px) {
                font-size: 24px;
            }

            @media (min-width: 1024px) {
                font-size: 28px;
            }

            @media (min-width: 1200px) {
                font-size: 34px;
            }

            @media (min-width: 1600px) {
                font-size: 40px;
            }
        }

        .navUser-action {
            position: relative;
            display: flex;
            align-items: center;

            .countPill {
                position: absolute;
                right: 0;
                top: -10px;
                background: #828282;
            }
        }

        .navUser-item--compare {
            display: none;
            padding-top: 10px;

            @media (min-width: 1200px) {
                padding-top: 14px;
            }

            &:before {
                margin-top: -10px;
            }

            &.show {
                display: flex;
            }

            .countPill {
                position: absolute;
                right: 0;
                top: -10px;
            }
        }

        .dropdown--quickSearch {
            top: 100% !important;
            width: 500px !important;
            padding: 15px;

            @media (min-width: 801px) {
                top: 78px !important;
            }

            @media (min-width: 1200px) {
                top: 66px !important;
            }

            @media (min-width: 1600px) {
                top: 104px !important;
            }

            @media (min-width: 1800px) {
                top: 114px !important;
            }

            .container {
                padding: 0;
            }

            &.is-open {
                left: auto !important;
            }
        }
    }

    .form-input {
        margin: 0;
    }
}

.menus-area {
    padding: 14px 0;

    @media (max-width: 800px) {
        position: static;
    }

    @media (min-width: 801px) {
        width: calc(100% - 172px);      
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    @media (min-width: 1200px) {
        padding: 14px 0 0;
        display: flex;
        flex-direction: row;
        width: calc(100% - 220px);
    }

    @media (min-width: 1600px) {
        width: calc(100% - 390px);
        padding: 14px 22px 0 0;
    }

    @media (min-width: 1800px) {
        width: calc(100% - 470px);
    }
}

.blog-post,
.original-post-date {
    display: none;
}

.header.is-open {
    height: auto;
}

.mobileMenu-toggle {
    position: absolute;
    right: 20px;
    left: auto;
    top: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;

    @media (max-width: 800px) {
        display: block;
    }

    .mobileMenu-toggleIcon {
        top: 19px;
        height: 3px;

        &:before {
            top: -7px;
            height: 3px;
        }

        &:after {
            height: 3px;
            width: 15px;
            right: 0;
        }
    }

    &.is-open {
        .mobileMenu-toggleIcon {
            &:after {
                width: 100%;
            }
        }
    }
}

// footer
$footer-link-hover-color: #eb6e1f;

footer.footer {
    padding: 0;
    border: 0;
    background: url('../img/footer-pattern.png');
    background-position: 50% 0;

    .container {
        max-width: 1234px;
        padding: 0 15px;

        @media (max-width: $screen-medium) {
            padding: 0 8px;
        }
    }

    .form {
        margin: 0;
        width: 100%;
    }

    .footer-logo {
        margin-bottom: 20px;
        max-width: 412px;
        width: 100%;

        @media (max-width: $screen-medium) {
            max-width: 186px;
            margin-bottom: 14px;
        }

        > a {
            display: inline-block;
            vertical-align: top;
            width: 100%;

            @media (max-width: $screen-medium) {
                display: block;
            }
        }
    }

    .header-logo-image-container {

        &:after {
            display: none;
        }

        img {
            max-width: none;
            width: 100%;
            max-height: 100%;
        }
    }

    .header-logo-image {
        position: static;
    }

    .navPages {
        max-width: 100%;

        @media (max-width: $screen-medium) {
            background: none;
            height: auto;
            padding: 0;
        }

        .navPages-list {
            padding: 100px 0 30px;
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            height: auto;
            
            @media (max-width: $screen-large) {
                padding: 35px 0 30px;
                justify-content: center;
            }

            @media (max-width: $screen-medium) {
                padding: 35px 0 15px;
                margin: 0;
            }

            > li {
                padding: 0 23px;

                @media (max-width: $screen-medium) {
                    padding: 0 8px;
                }
            }

            .navPages-action {
                display: block;
                padding: 0;
                font-size: 23px;
                line-height: 26px;
                color: #232323;
                font-weight: 400;
                text-transform: uppercase;

                @media (max-width: $screen-large) {
                    font-size: 18px;
                }

                @media (max-width: $screen-medium) {
                    font-size: 12px;
                    line-height: 14px;
                }

                &:hover {
                    color: $footer-link-hover-color;
                }
            }
        }
    }
}

.footer-col-menu {
    width: 50%;
    text-transform: uppercase;
    padding: 0 10px 0 0;

    .footer-info-heading {
        color: #799c48;
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 20px;
        padding: 0 18px;

        @media (max-width: $screen-large) {
            font-size: 18px;
        }

        @media (max-width: $screen-medium) {
            font-size: 12px;
            line-height: 14px;
            padding: 0 5px;
            margin: 0 0 9px;
        }
    }

    &:last-child {
        padding: 0 0 0 10px;
    }
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #232323;
    font-size: 24px;
    line-height: 28px;
    column-count: 2;
    column-gap: 10px;

    @media (max-width: $screen-large) {
        font-size: 16px;
        line-height: 22px;
    }

    @media (max-width: $screen-medium) {
        font-size: 12px;
        line-height: 14px;
    }
    
    > li {
        position: relative;
        margin-bottom: 9px;
        padding: 0 18px 9px;
        border-bottom: 1px solid #ebebeb;
        transform: translateZ(0);
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        display: flex;
        flex-direction: column;

        @media (max-width: $screen-medium) {
            padding: 0 5px 5px;
            margin-bottom: 4px;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            line-height: 0;
            color: #2d2d2d;
            content: '';
            background: linear-gradient(to right, #2d2d2d 0%,#2d2d2d 1px,transparent 2px,transparent 100%);
            background-size: 5px 1px;
            background-repeat: repeat-x;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $footer-link-hover-color;
        }
    }
}

.footer-top {
    padding: 53px 0 0;
    background: url('../img/footer-bg-01.png') repeat-x;
    background-position: 50% 100%;

    @media (max-width: $screen-medium) {
        padding: 28px 0 0;
    }
}

.footer-row {
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $screen-medium) {
        margin-bottom: 8px;
    }

    > .col {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint("large") {
            width: calc(50% - 10px);
        }

        @media (max-width: $screen-large) {
            margin-bottom: 30px;
        }

        @media (max-width: $screen-medium) {
            margin-bottom: 18px;
        }

        &:last-child {
            .footer-col-menu {
                width: calc(36% - 10px);
                padding: 0;

                @media (max-width: $screen-medium) {
                    width: 38%;
                }
            }

            .footer-nav {
                column-count: 1;
            }

            > .col {
                margin-bottom: 0;
            }
        }
    }

    &:first-child {
        > .col {
            width: 100%;
            margin-bottom: 0;

            @include breakpoint("large") {
                width: calc(50% - 10px);
            }

            @media (max-width: $screen-large) {
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
        margin-top: -36px;
        padding: 33px 0 61px;
        border-top: 2px solid #ccc;

        @media (max-width: $screen-large) {
            text-align: center;
        }

        @media (max-width: $screen-medium) {
            margin-top: -4px;
            padding: 11px 0 77px;
        }

        .footer-info-heading {
            margin: 0 0 14px;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #232323;
            width: 100%;

            @media (max-width: $screen-medium) {
                font-size: 10px;
                line-height: 12px;
                margin: 0 0 6px;
                text-align: center;
            }
        }

        .col {
            @media (max-width: $screen-medium) {
                margin-bottom: 8px;
            }

            &:first-child {
                .footer-info-heading {
                    color: #eb6e1f;
                }
            }
        }
    }

    .recent-posts {
        text-transform: uppercase;
        width: calc(65% - 10px);
        padding-left: 22px;

        @media (max-width: $screen-medium) {
            padding-left: 0;
            width: calc(62% - 10px);
        }

        h4 {
            color: #799c48;
            font-size: 24px;
            line-height: 28px;
            margin: 0 0 20px;

            @media (max-width: $screen-large) {
                font-size: 18px;
            }

            @media (max-width: $screen-medium) {
                font-size: 12px;
                line-height: 14px;
                margin: 0 0 8px;
           } 
        }
    }
}

.post-item {
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    line-height: 30px;
    color: #232323;

    @media (max-width: $screen-large) {
        font-size: 18px;
        line-height: 1.25;
    }

    @media (max-width: $screen-medium) {
        font-size: 12px;
        line-height: 15px;
    }

    + .post-item {
        margin-top: 43px;

        @media (max-width: $screen-medium) {
            margin-top: 21px;
        }
    }

    .post-date {
        width: 67px;
        min-width: 67px;
        margin-right: 24px;
        padding: 10px 5px;
        text-align: center;
        color: #fff;
        background: #543019;
        border-bottom: 4px solid #6eb43f;
        text-transform: uppercase;
        line-height: 1;

        @media (max-width: $screen-medium) {
            width: 34px;
            min-width: 34px;
            margin-right: 12px;
            border-width: 2px;
            padding: 7px 5px 4px;
        }

        .post-date-month {
            font-size: 21px;

            @media (max-width: $screen-medium) {
                font-size: 10px;
            }
        }

        .post-date-day {
            font-size: 45px;

            @media (max-width: $screen-medium) {
                font-size: 23px;
            }
        }

        span {
            display: block;
        }
    }
    
    h5 {
        margin: 0 0 6px;
        font-size: 24px;
        line-height: 1;
        color: #2c2e2a;

        @media (max-width: $screen-large) {
            font-size: 20px;
        }

        @media (max-width: $screen-medium) {
            font-size: 12px;
            margin-bottom: 4px;
        }

        a {
            line-height: inherit;

            &:hover {
                color: $footer-link-hover-color;
            }
        }
    }

    p {
        font-size: inherit;
        line-height: inherit;
        margin: 0 0 -7px;

        @media (max-width: $screen-large) {
            margin-bottom: -5px;
        }

        @media (max-width: $screen-medium) {
            margin: 0 0 -4px;
        }
    }

    .post-readmore {
        color: #6eb43f;
        font-size: 18px;
        line-height: 22px;

        @media (max-width: $screen-large) {
            font-size: 14px;
        }

        @media (max-width: $screen-medium) {
            font-size: 9px;
            line-height: 12px;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            color: $footer-link-hover-color;
        }
    }
}

.footer-contacts {
    margin: 0;
    padding: 0 6px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #232323;

    @media (max-width: $screen-large) {
        font-size: 16px;
    }

    @media (max-width: $screen-medium) {
        font-size: 15px;
        line-height: 18px;
        padding: 0;
        margin: 0 -10px;
    }

    a {
        color: inherit;
        text-decoration: none;
        position: relative;
        padding-left: 40px;

        @media (max-width: $screen-medium) {
            padding-left: 20px;
        }

        [class*="icon-"] {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #543019;
            font-size: 29px;

            @media (max-width: $screen-large) {
                font-size: 22px;
            }

            @media (max-width: $screen-medium) {
                font-size: 17px;
                margin-top: -2px;
            }
        }

        .icon-phone {
            font-size: 32px;

            @media (max-width: $screen-large) {
                font-size: 26px;
            }

            @media (max-width: $screen-medium) {
                font-size: 20px;
            }
        }

        &:hover {
            color: $footer-link-hover-color;
        }
    }

    > li {
        padding-right: 21px;
        margin-right: 21px;
        position: relative;

        @media (max-width: $screen-medium) {
            padding-right: 10px;
            margin-right: 10px;
        }

        &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            content: ' ';
            width: 2px;
            height: 47px;
            background: #d2d2d2;
            margin: 0;
            
            @media (max-width: $screen-medium) {
                height: 30px;
                margin-top: -2px;
            }
        }

        &:last-child {
            padding-right: 0;
            margin-right: 0;

            &:after {
                display: none;
            }
        }
    }
}

.footer-bottom {
    border-top: 18px solid #6eb43f;
    padding: 90px 0;
    background: url('../img/footer-bg-2.png');
    background-position: 50% 0;

    @media (max-width: $screen-medium) {
        border-width: 9px;
        padding: 44px 0;
    }
}

.footer-copyright {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    @media (max-width: $screen-medium) {
        font-size: 10px;
        line-height: 12px;
    }

    > li {
        &:after {
            display: inline-block;
            content: '|';
            margin: 0 5px;
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $footer-link-hover-color;
        }
    }
}

.footer-info-col--social {
    padding: 0;
    margin: 0;
    display: block;

    @media (max-width: $screen-large) {
        text-align: center;
    }
}

.socialLinks {
    margin: 0 -5px;
    
    @media (max-width: $screen-medium) {
        line-height: 0;
        text-align: center;
    }

    .socialLinks-item {
        padding: 5px;
        margin: 0;

        @media (max-width: $screen-medium) {
            padding: 1px;
        }
    }

    .icon {
        width: 49px;
        height: 49px;
        font-size: 27px;
        line-height: 49px;
        color: #fff;
        border-radius: 50%;
        background: #252525;
        transition: background 0.3s;
        text-align: center;

        @media (max-width: $screen-medium) {
            width: 25px;
            height: 25px;
            font-size: 15px;
            line-height: 25px;
        }

        &:hover {
            background: $footer-link-hover-color;
        }
    }
}

.form-field {
    margin: 0;

    @media (max-width: $screen-medium) {
        padding: 0 25px;
    }

    .form-prefixPostfix {
        position: relative;
        display: flex;
        padding: 0 0 0 57px;
        background: rgba(#fafafa, .9);
        border-radius: 30px;
        border: 2px solid #e2e2e2;

        @media (max-width: $screen-medium) {
            border-width: 1px;
            padding: 0 0 0 28px;
        }
        
        &:after {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            line-height: 1;
            color: #c6c6c6;
            content: '\e908';
            font-family: 'icomoon';

            @media (max-width: $screen-medium) {
                font-size: 11px;
                left: 8px;
            }
        }

        .form-input {
            margin: 0;
            color: #c6c6c6;
            background: none;
            height: 56px;
            font-size: 20px;
            line-height: 24px;
            padding: 16px 10px 16px 0;
            width: calc(100% - 150px);
            border: 0;
            text-transform: uppercase;

            @media (max-width: $screen-medium) {
                font-size: 10px;
                height: 28px;
                line-height: 14px;
                padding: 8px 5px 8px 0;
                width: calc(100% - 75px);
            }
        }

        .button {
            height: 56px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 30px;
            padding: 16px 10px;
            margin: 0;
            width: 150px;
            color: #fff;
            background: #eb6e1f;
            display: block;
            border: 0;
            text-transform: uppercase;

            @media (max-width: $screen-medium) {
                width: 75px;
                height: 28px;
                font-size: 9px;
                line-height: 12px;
                padding: 8px 5px;
            }

            [class*="icon-"] {
                font-size: 22px;
                display: inline-block;
                margin: -6px 0;

                @media (max-width: $screen-medium) {
                    font-size: 11px;
                    margin: -1px 0;
                }
            }
        }
    }
}

// related-products
.related-products {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 85px;
    padding-bottom: 71px;
    background-size: cover !important;
    background-position: 50% 0 !important;

    @media (min-width: $screen-medium) {
        padding-top: 51px;
        padding-bottom: 71px; 
    }

    @media (min-width: 1200px) {
        margin-left: -51px;
        margin-right: -51px;
        padding-left: 51px;
        padding-right: 51px;
    }

    @media (min-width: 1261px) {
        margin-left: calc(((100vw - 1200px) / 2) * -1);
        margin-right: calc(((100vw - 1200px) / 2) * -1);
        padding-left: calc((100vw - 1200px) / 2);
        padding-right: calc((100vw - 1200px) / 2);
    }
    
    > h2 {
        text-align: center;
        margin: 0 0 22px;
        font-size: 29px;
        line-height: 0.862;
        color: #fff;
        font-weight: 400;

        @media (min-width: $screen-medium) {
            font-size: 48px;
            margin: 0 0 20px;
        }

        @media (min-width: $screen-large) {
            font-size: 74px;
            line-height: 1.2;
        }
    }

    .related-products-holder {

        @media (min-width: $screen-medium) {
            display: flex;
            flex-wrap: wrap;
        }

        @media (min-width: 1282px) {
            margin: 0 -10px;
        }
    }

    .card {
        width: 100%;
        padding: 0 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 24px;

        @media (min-width: $screen-medium) {
            width: calc(100% / 3);
            margin-bottom: 3rem;
        }
    }

    .card-image-holder {
        position: relative;

        @media (max-width: $screen-medium) {
            max-width: 138px;
            margin: 0 auto;
        }

        > a {
            display: block;
            width: 100%;
        }
    }

    .card-img-container {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        background: rgba(#fff, .5);

        @media (max-width: $screen-medium) {
          padding: 4px;  
        }

        &:after {
            display: none;
        }

        .card-image {
            position: static;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .card-body {
        display: flex;
        padding: 3px 0 0;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        color: #fff;
        flex: 1 1 auto;

        @media (min-width: $screen-medium) {
            padding: 32px 0 0;
        }
    }

    .card-text {
        color: inherit;
        line-height: 1;
    }

    h3 {
        font-size: 24px;
        line-height: 1;
        color: #ff8a00;
        font-weight: 400;
        margin: 0;
        
        @media (min-width: $screen-medium) {
            font-size: 30px;
        }

        @media (min-width: $screen-large) {
            font-size: 48px;
        }
    }

    h4 {
        margin: -7px 0 -10px;
        color: inherit;
        font-size: 12px;
        line-height: 28px;
        font-weight: 400;
        
        @media (min-width: $screen-medium) {
            font-size: 18px;
            margin: 0 0 -6px;
        }

        @media (min-width: $screen-large) {
            font-size: 24px;
        }
    }

    .price-section {
        font-size: 18px;

        @media (min-width: $screen-medium) {
            font-size: 24px;
        }

        @media (min-width: $screen-large) {
            font-size: 36px;            
        }
    }

    .product-card-actions {
        flex: 1 1 auto;
        display: flex;
        width: 100%;
        padding-top: 4px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        @media (min-width: $screen-medium) {
            padding-top: 10px;
        }

        @media (min-width: $screen-large) {
            padding-top: 17px;
        }
    }

    .card-figcaption-button {
        color: #fff;
        background: #6eb43f;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        font-size: 10px;
        line-height: 27px;
        text-align: center;
        padding: 0 34px 0 10px;
        position: relative;
        border-radius: 2px;
        border: 0;
        overflow: hidden;
        text-shadow: 0 1px 2px rgba(6, 6, 6, 0.42);

        @media (min-width: $screen-medium) {
            font-size: 16px;
            border-radius: 3px;
            padding: 0 50px 0 15px; 
        }

        @media (min-width: $screen-large) {
            font-size: 20px;
            line-height: 54px;
            padding: 0 67px 0 20px;            
        }

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 100%;
            content: '\e900';
            background: #619f38;
            text-align: center;
            font-family: 'icomoon';

            @media (min-width: $screen-medium) {
                width: 35px;
            }

            @media (min-width: $screen-large) {
                width: 48px;            
            }
        }
    }
}

// header-actions
.header-actions {
    margin-bottom: 33px;
    
    @media (min-width: $screen-medium) {
        margin-bottom: 44px;
    }
}

// back-link
.back-link {
    position: relative;
    display: block;
    width: 100%;
    background: #f6f6f6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 22px;
    color: #232323;

    &:after {
        position: absolute;
        left: 9px;
        top: 50%;
        transform: translate(50%,-50%);
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3px 5px 3px 0;
        border-color: transparent #232323 transparent transparent;
        
        @media (min-width: $screen-medium) {
            left: 17px;
            border-width: 5px 7px 5px 0;
        }
    }

    mark {
        background: none;
        color: #eb6e1f;
    }

    @media (min-width: $screen-medium) {
        font-size: 26px;
        line-height: 31px;
        padding: 20px 40px 14px;
    }
}

// productView
.product-template .productView {
    padding: 0;

    .productView-details {
        padding-top: 0;

        @media (max-width: $screen-medium) {
            padding-left: 0;
            padding-right: 0;
        }

        &:first-child {
            margin-bottom: 3px;
            padding-top: 17px;
        }
    }

    .productView-title {
        font-size: 60px;
        margin-bottom: 18px;
        line-height: 1;
        letter-spacing: 1px;
        font-weight: 400;
        text-transform: uppercase;

        @media (max-width: $screen-large) {
            font-size: 45px;
        }

        @media (max-width: $screen-medium) {
            font-size: 30px;
        }
    }
    
    .product-additional-info {
        font-size: 24px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        color: #53656d;

        @media (max-width: $screen-large) {
            font-size: 18px;
        }

        @media (max-width: $screen-medium) {
            font-size: 12px;
        }
    }

    .price-section {
        font-size: 56px;
        line-height: 1;
        font-weight: 400;
        color: #eb6e1f;

        @media (max-width: $screen-large) {
            font-size: 44px;
        }

        @media (max-width: $screen-medium) {
            font-size: 28px;
        }
    }

    .productView-options {
        .form {
            display: block;
        }
        
        .set-rectangle {
            margin-right: -26px;

            @media (max-width: $screen-medium) {
                margin: 0 -15px 0 0;
                padding: 0 3px;
            }

            input {
                width: 0;
                height: 0;
                opacity: 0;
            }

            .form-radio:checked + .form-option {

            }

            .form-option {
                margin: 0 24px 20px 0;
                text-align: center;
                width: 180px;
                background: #f6f6f6;
                border: 0;

                @media (max-width: $screen-medium) {
                    width: calc((100% / 3) - 15px);
                    margin: 0 15px 10px 0;
                }
            } 

            .form-option-variant {
                display: block;
                padding: 14px 5px;
                font-size: 21px;
                line-height: 1;
                color: #393939;
                text-transform: uppercase;

                @media (max-width: $screen-large) {
                    font-size: 16px;
                }

                @media (max-width: $screen-medium) {
                    font-size: 11px;
                }

                > span {
                    display: block;
                    padding-top: 5px;
                    font-size: 56px;
                    line-height: 1;
                    font-weight: 400;
                    color: #eb6e1f;

                    @media (max-width: $screen-large) {
                        font-size: 44px;
                    }

                    @media (max-width: $screen-medium) {
                        font-size: 28px;
                    }
                }
            }       
        }
    }
    
    .product-quick-overview {
        .productView-title {
            font-size: 30px;
            color: #393939;
            font-weight: 400;
            line-height: 1.2;

            @media (max-width: $screen-large) {
                font-size: 22px;
            }

            @media (max-width: $screen-medium) {
                font-size: 15px;
                margin: 20px 0 0;
                text-align: left;
            }
        }

        .shg-rich-text {
            font-size: 18px;
            line-height: 2;
            text-transform: uppercase;
            color: #53656d;

            @media (max-width: $screen-large) {
                font-size: 16px;
            }

            @media (max-width: $screen-medium) {
                font-size: 10px;
            }

            p {
                font-size: inherit;
                line-height: inherit;
                margin-bottom: 36px;

                @media (max-width: $screen-large) {
                    font-size: 18px;
                }

                @media (max-width: $screen-medium) {
                    font-size: 10px;
                    margin-bottom: 18px;
                }

                > span {
                    font-size: inherit !important;    
                }
            }
        }
    }

    .form-action-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .back-button {
            display: block;
            width: calc(50% - 12px);
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            border-radius: 4px;
            font-size: 24px;
            line-height: 28px;
            border: 0;
            padding: 30px 15px 26px;
            background: #eb6e1f;
            text-decoration: none;

            @media (max-width: $screen-large) {
                font-size: 18px;
                line-height: 20px;
                padding: 24px 15px 20px;
            }

            @media (max-width: $screen-medium) {
                padding: 15px 15px 13px;
                font-size: 12px;
                line-height: 14px;
                width: calc(50% - 4px);
            }
        }

        .form-action {
            margin: 0;
            width: calc(50% - 12px);

            @media (max-width: $screen-medium) {
                width: calc(50% - 4px);
            }
        }

        .button {
            margin: 0;
            width: 100%;
            background: #6eb43f;
            color: #fff;
            text-transform: uppercase;
            border-radius: 4px;
            font-size: 24px;
            line-height: 28px;
            border: 0;
            padding: 30px 15px 26px;

            @media (max-width: $screen-large) {
                font-size: 18px;
                line-height: 20px;
                padding: 24px 15px 20px;
            }

            @media (max-width: $screen-medium) {
                padding: 15px 15px 13px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    .slick-arrow {
        background: none;
        border: 0;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        color: #393939;
        font-weight: 400;

        @media (max-width: $screen-medium) {
            width: 30px;
        }
    }

    .slick-next {
        right: -43px;

        @media (max-width: $screen-medium) {
            right: -30px;
        }

        &:before {
            width: auto;
            height: auto;
            font-size: 60px;
            line-height: 40px;
            color: #393939;
            content: '>';
            background: none;

            @media (max-width: $screen-large) {
                font-size: 55px;
            }

            @media (max-width: $screen-medium) {
                font-size: 30px;
                width: 30px;
            }
        }
    }

    .slick-prev {
        left: -43px;

        @media (max-width: $screen-medium) {
            left: -30px;
        }

        &:before {
            width: auto;
            height: auto;
            font-size: 60px;
            line-height: 40px;
            color: #393939;
            content: '<';
            background: none;

            @media (max-width: $screen-large) {
                font-size: 55px;
            }

            @media (max-width: $screen-medium) {
                font-size: 30px;
                width: 30px;
            }
        }

        &:hover {
            &:before {
                color: #eb6e1f;
            }
        }
    }

    .productView-images {
        width: 42%;

        @media (max-width: $screen-large) {
            width: 48%;
            padding: 0 40px;
        }

        @media (max-width: $screen-medium) {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 32px 40px;
            float: none;
            overflow: hidden;
        }
    }

    .productView-gallery {
        margin: 0;
    }
    
    .productView-img-container {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 100%;

        img {
            position: relative;
            max-width: none;
            width: 100%;
            display: block;
        }

        &:after {
            display: none;
        }
    }

    .slick-dots {
        font-size: 0;
        line-height: 0;
        display: flex;
        justify-content: center;
        bottom: -18px;

        @media (max-width: $screen-medium) {
            bottom: -9px;
        }

        > li {
            width: auto;
            height: auto;
            font-size: 0;
            line-height: 0;
            padding: 3px;

            @media (max-width: $screen-medium) {
                padding: 2px;
            }

            button {
                display: block;
                width: 14px;
                height: 14px;
                padding: 0;
                margin: 0;
                border: 0;
                background: #fff;
                box-shadow: inset 0 0 0 14px #eb6e1f;
                transition: box-shadow 0.3s;

                @media (max-width: $screen-medium) {
                    width: 7px;
                    height: 7px;
                }

                &:before {
                    display: none;
                }
            }
        }

        .slick-active {
            button {
                box-shadow: inset 0 0 0 3px #eb6e1f;

                @media (max-width: $screen-medium) {
                    box-shadow: inset 0 0 0 1px #eb6e1f;
                }
            }
        }  
    }

    .product-options-holder {
        position: relative;

        &:after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 7px;
            content: '';
            // background: linear-gradient(135deg, rgba(219,219,219,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,0) 51%,rgba(219,219,219,0) 100%);
            background: linear-gradient(150deg, transparent 0, transparent 1px, #dbdbdb 1px, #dbdbdb 3px, transparent 3px , transparent 5px,#dbdbdb 5px,#dbdbdb 7px,transparent 7px,transparent 8px);
           background-repeat: repeat-x; 
            // background-repeat: no-repeat; 
            background-size: 8px 8px;
        }
    }
}

/* example lightbox styles */

.popup-holder {
    position: relative;
    overflow: hidden;
    height: 0;
}

.lightbox-demo {
    padding: 5px;
    width: 300px;
}

.lightbox-demo h2 {
    margin: 0 0 10px;
}

.lightbox-demo p {
    margin: 0;
}

body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: rgb(30, 30, 30);
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.47, 0, .74, .71);
}

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease, visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden; /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(.5, 0, .14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-container [data-selectable='true'] {
  cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Buttons */

.fancybox-button {
  background: rgba(30, 30, 30, .6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

/* Fix IE11 */
.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -ms-transform-origin: 0;
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998;
}
/* Close button on the top right corner of html content */

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

/* Navigation arrows */

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

/* Caption */

.fancybox-caption {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, .85) 0%,
      rgba(0, 0, 0, .3) 50%,
      rgba(0, 0, 0, .15) 65%,
      rgba(0, 0, 0, .075) 75.5%,
      rgba(0, 0, 0, .037) 82.85%,
      rgba(0, 0, 0, .019) 88%,
      rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */

.fancybox-loading {
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Transition effects */

.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, .25, 1);
}

/* transitionEffect: slide */

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */

.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(.5, .5, .5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* transitionEffect: circular */

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */

.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }

  .fancybox-slide--image {
    padding: 6px 0;
  }

  .fancybox-close-small {
    right: -6px;
  }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }

  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* Share */

.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, .1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus::before {
  opacity: .5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
