/*HAEDER*/
header.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header-logo{
        width: 320px;
        margin: 10px 0px;
    }

    .navPages-container {
        width: 50%;
    }

    .navUser {
        width: 40%;
    }
}

/*shg styles*/
.shg-c{
    padding: 0!important;
}

/*SLIDER*/
.custom-slider{
    padding:0!important;
    .shg-sld-slides-padded{
        padding:0;
    }

    .shogun-image-content{
        max-width: 960px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;        
    }

    img.shogun-image {
        @media (max-width: $screen-medium) {
                min-height: 800px;
                object-fit: cover;
            }

            @media (max-width: $screen-medium) {
                min-height: 420px;
            }
    }

    .shogun-heading-component{
        h3{
            text-shadow: 0 0 62px #060606;
            color: #ffffff;
            font-size: 49px!important;
            line-height: 64.44px!important;

            @media (max-width: $screen-large) {
                font-size: 40px!important;
            }

            @media (max-width: $screen-small) {
                font-size: 17px!important;
                line-height: 32.22px!important;
            }
        }

        h2{
            text-shadow: 0 0 250px #060606;
            color: #ffffff;
            font-size: 166px!important;
            font-weight: 400;
            line-height: 136.28px;
            text-transform: uppercase;
            letter-spacing: -0.65px;

            @media (max-width: $screen-large) {
                font-size: 100px!important;
                line-height: 91.67px!important;
            }

            @media (max-width: $screen-medium) {
                font-size: 50px!important;
                line-height: 46px!important;
            }
        }
    }

    .shg-sld{
        position: relative;
    }

    .shg-sld-dot{
        background-color: #ffffff;
        width: 20px;
        height: 20px;
        margin-left: 15px;
        @media (max-width: $screen-medium) {
            width: 15px;
            height: 15px;
        }
    }

    .shg-sld-dot.shg-sld-active{
        background-color: transparent;
        border: 5px solid white;
        @media (max-width: $screen-medium) {
            border: 3px solid white;
        }
    }

    .shg-sld-dots{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}

/*BLOCKS GRID*/
.blocks-grid{
    padding: 50px 0!important;
}

.blocks-grid .shg-box-content{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    .shogun-heading-component{
        h2{
            color: #ffffff;
            font-size: 74px!important;
            font-weight: 400;
            line-height: 69.21px!important;
            text-transform: uppercase;
            margin: 0 0 30px;

            @media (max-width: $screen-medium) {
                font-size: 37px!important;
                line-height: 34.61px!important;
                margin: 0 0 15px;
            }
        }
        h3{
            font-size: 37px!important;
            @media (max-width: $screen-medium) {
                font-size: 18px!important;
            }
        }
    }
}

.blocks-grid .shogun-image-container{
    margin: 0 0 30px;
    @media (max-width: $screen-medium) {
        margin: 0 0 15px;
    }
}

.blocks-grid .shogun-image-container:hover{
    cursor: pointer;
}


/*Content block*/

.shg-box.content-block {
    max-width: 1200px;
    margin: 0 auto!important;
    width: 100%;
    padding: 110px 0!important;

    @media (max-width: $screen-medium) {
        padding: 50px 0!important;
    }
    .shogun-heading-component {
        h3{
                font-weight: 400;
                text-transform: uppercase;
                color: #eb6e1f;
                font-size: 53px!important;
                text-align: left!important;
            @media (max-width: $screen-large) {
                font-size: 45px!important;
            }
            @media (max-width: $screen-medium) {
                text-align: center!important;
            }
        }

        h2 {
            text-transform: uppercase;
            color: #393939;
            font-size: 105px!important;
            font-weight: 400;
            text-align: left!important;

            @media (max-width: $screen-large) {
                font-size: 60px!important;
            }

            @media (max-width: $screen-medium) {
                text-align: center!important;
            }
        }
    }

    p{
        color: #393939;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin: 0 0 40px;
        mark{
            color: #eb6e1f;
            background: transparent;
        }

        @media (max-width: $screen-small) {
            font-size: 16px;
            line-height: 18px;
            margin: 0 0 20px;
        }
    }
}

.icons-content{
    padding: 60px 0!important;
    @media (max-width: $screen-medium) {
        padding: 40px 0!important;
    }
    .shogun-heading-component {
        h2 {
            font-size: 53px!important;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 0 40px;

            @media (max-width: $screen-medium) {
                font-size: 26px!important;
            }
        }
    }

    .shogun-image-container{
        @media (max-width: $screen-medium) {
            margin: 0 0 25px;
        }
    }
}

.video-block {
    padding: 130px 0 60px!important;

    .shogun-image-container {
        img{
            float: left;
            margin: 0 15px 0 0!important;
        }
    }

    .shogun-heading-component {
        h2{
            text-align: left!important;
            font-size: 53px!important;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;
            margin: 0 0 30px;
            @media (max-width: $screen-medium) {
                font-size: 26px!important;
                line-height: 24px;
            }
        }
        h3 {
            text-align: left!important;
            color: #eb6e1f;
            font-size: 24px!important;
            margin: 10px 0 0;

            @media (max-width: $screen-medium) {
                font-size: 12px!important;
            }
        }
    }
}

.shg-box > .shg-box-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $screen-large) {
        padding: 0 15px;
    }
}

.featured-products  {
    padding: 100px 0!important;

    @media (max-width: $screen-medium) {
        padding: 50px 0!important;
    }

    .shogun-heading-component {
        h2{
            color: #ffffff;
            font-size: 74px!important;
            font-weight: 400;
            line-height: 64.03px!important;
            text-transform: uppercase;
            margin: 0 0 50px;
            @media (max-width: $screen-medium) {
                font-size: 29px!important;
                line-height: 32px;
                margin: 0 0 30px;
            }
        }
    }

    .shg-box-content > .shg-c {
        @media (max-width: $screen-small) {
            margin: 0 60px;

            .shg-product {
                margin: 0 0 30px;
            }
        }
    }

    .shg-product-image-wrapper {
        border: 10px solid rgba(255, 255, 255, 0.4);
        margin: 0 0 20px;
    }

    .shogun-heading-component{
        h3{
            font-size: 48px!important;
        }

        h4 {
            font-size: 24px!important;
        }
    }
    .shg-product-price {
        font-size: 36px!important;
        margin: 0 0 20px!important;
        display: block;
    }
}

/*CHECKOUT*/
.checkout-step--customer .checkout-view-header{
    background-color: red;
}


/*BTN*/
form.shg-product-atc-btn-wrapper .shg-btn {
    text-decoration: none;
    background-color: #6eb43f!important;
    text-shadow: 0 1px 2px rgba(6, 6, 6, 0.42);
    color: #ffffff;
    font-family: "Myriad Pro - Bold Cond";
    font-size: 20px!important;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 60px 10px 20px!important;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;

    &:after{
        content:"";
        width: 40px;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        background-color: #619f38;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &:before{
        content:"";
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:10px;
        background: url('/assets/icons/cart.svg');
        width: 22px;
        height: 21px;
        z-index: 1;
    }
}


/////// Landing page

.table-section {
    .shogun-heading-component {
        h2 {
            margin: 0 0 60px;            
        }

        h3 {
            margin: 32px 0 0;  
        }
    }

    .shg-box-content {
        padding: 0 0 60px;
    }

    .table-area {
        box-shadow: 2px 33px 51px rgba(0, 0, 0, 0.17);
        background: rgba(#fff, 0.9);
        .shogun-table-wrapper {
            border: none!important;
            margin: 30px 10px;

            td,tr {
                border:none!important;
            }

            thead {
                td {
                    &:first-child {
                        background: white!important;
                    }
                }
                td  {
                    text-align: center;
                    font-size: 22px;
                    font-weight: 400;
                    background-color: #f7faf4!important;
                    border-top: 3px solid white!important;
                    &:nth-child(even) {
                        border-right: 3px solid #fff!important;
                    }
                }
            }

            tbody {
                td {
                    &:nth-child(even) {
                        border-right: 3px solid #fff!important;
                    }
                }
                tr {
                    &:nth-child(odd) {
                        td{
                            background-color: #f2f2f2!important;
                            border-top: 3px solid white!important;
                            border-bottom: 3px solid white!important;
                        }
                    }

                &:nth-child(even) {
                    td{
                        background-color: #f7faf4!important;
                        }
                    }
                }

                tr{
                    &:first-child {
                        td {
                            border-top: none!important;
                        }
                    }
                    td {
                            &:nth-child(2),
                            &:nth-child(3) {
                                background-color: #ededed!important;
                            }
                    }
                }
            }

            .shogun-table-row-container {
                margin: 2px 0;
            }

            .shogun-table-row {
                padding: 18px 15px!important;
            }
            p {
                font-size: 22px;
                font-weight: 400;
                line-height: 1;
                margin: 0;
            }

        }
    }
}

.landing-content-block {
    .shogun-image-container img{
        box-shadow: 8px 29px 79px rgba(0, 0, 0, 0.14);
        padding: 30px;
    }

    p{
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        a {
            color: #eb6e1f;
            text-decoration: none;
        }
    }

    .separator-dots{
        hr {
            border-top: 2px dotted rgba(57, 57, 57, 1)!important;
        }
    }
}

.contact-info-section {
    padding: 72px 0!important;

    .shogun-heading-component {
        h2 {
            margin: 0 0 10px;
        }
    }
}

.products-grid-section {
    margin: 120px 0 0!important;

    .shg-product-image-wrapper {
        margin: 0 0 20px;
    }

    .shg-btn-wrapper {
        margin: 20px 0 50px;
    }

    .shogun-heading-component {
        h2 {

        }
    }
}


//////Product page

.shg-box.custom-accordion-holder {
    padding: 150px 0!important;

    .shogun-accordion {
        border: none!important;
        overflow: visible;
    }

    .shogun-accordion-active {
        .shogun-accordion-heading {
            background-color: #e8ecee!important;
            h4 {
                color: #393939!important;
            }
        }
    }

    .shogun-accordion-heading {
        border-radius: 3px!important;
        padding: 22px 30px!important;
        box-shadow: 4px 21px 16px rgba(0, 0, 0, 0.44)!important;
        background-color: #1a1d1e!important;
        h4 {
            font-size: 24px!important;
            color: #ffffff!important;
        }       
    }

    .shogun-accordion-body {
        background: transparent!important;
        border:none!important;
        margin: 20px 0;

        .shg-rich-text img {
            margin: 0 auto;
            border: 10px solid #fff;
            border-radius: 50%;
        }

        p {
            text-shadow: 0 2px 2px rgba(6, 6, 6, 0.42);
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.98px;
            padding: 0 30px;
        }

        dl {
            display: flex;
            flex-flow: wrap;
            align-items: baseline;
            margin: 0 0 40px;
        }
        dt {
            color: #eb6e1f!important;
            width: 30%;
            text-align: right;
            padding: 0 20px 0 0;
            font-size: 18px;
            line-height: 29.98px;
        }
        dd {
            color: #fff!important;
            width: 70%;
            text-shadow: 0 2px 2px rgba(6, 6, 6, 0.42);
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.98px;
        }
    }

    .shogun-heading-component {
        h4 {
            text-shadow: 0 2px 2px rgba(6, 6, 6, 0.42);
            color: #ffffff!important;
            font-size: 24px!important;
            text-transform: uppercase;
            margin: 70px 0!important;
        }
    }
    .ingredient-item {
        .title {
            text-align: center;
            text-shadow: 0 2px 2px rgba(6, 6, 6, 0.42);
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 29.98px;
            text-transform: uppercase;
            display: block;
            margin: 70px 0 120px;
        }
    }

}

.fancybox-stage {

    .fancybox-content {
        border-radius: 4px;
    }
    .ingredient-img {
        float: left;
        margin: 0 40px 60px 0;
        img {
            box-shadow: 0 7px 10px rgba(6, 6, 6, 0.42);
            border-radius: 50%;
            border: 10px solid #fff;
        }
    }

    .ingredient-body-wrap {
        float: left;

        h2 {
            font-size: 60px;
            font-weight: 400;
            line-height: 60px;
            text-transform: uppercase;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 29.98px;
            text-transform: uppercase;
            margin: 0 0 40px;
        }

        .list {
            display: flex;
            list-style: none;
            margin: 0;
            li {
                margin: 0 20px 0 0;

                .ico {
                    margin: 0 0 10px;
                    min-height: 50px;
                    display: flex;
                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 40px;
                        object-fit: none;
                    }
                }

                .title-item {
                    color: #5b6c73;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18.55px;
                    text-transform: uppercase;
                }
            }
        }
    }
}